/*this is a component css*/

.callProps {
    background-repeat: repeat;
}

.Label11534338Props {
    overflow: hidden;
}

.callProps {}

.Button11534339Props {}

.Subform11534340Props {
    border: lightskyblue solid 1px;
}