<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="call"
        class="callProps"
    >
        <label
            magic="Label11534338"
            class="Label11534338Props"
        >
            call:
            </label>
            <div>
                <input
                    type="text"
                    formControlName="call"
                    magic="call"
                    class="callProps"
                    pattern="^.{0,10}$"
                />
                <div *ngIf="(screenFormGroup.get('call').touched) && (
                        screenFormGroup.get('call').hasError('pattern')
                        
                        )">
                    <p>control status: {{ screenFormGroup.get('call').errors | json }}</p>
                </div>
            </div>
            <button
                magic="Button11534339"
                class="Button11534339Props"
            >
                {{mgGetValue('Button11534339')}}
                </button>
                <div class="Subform11534340Props">
                    <m-subform
                        magic="Subform11534340"
                        class="Subform11534340Props"
                    >
                        </m-subform>
                </div>
                </div>
                </form>