<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="A"
        class="AProps mgColor15"
    >
        <label
            magic="Label2"
            class="Label2Props"
        >
            {{mgGetText('Label2')}}
            </label>
            <mat-form-field class="A_v1Props">
                <div>
                    <input
                        matInput
                        magic="A_v1"
                        formControlName="A_v1"
                        pattern="^.{0,10}$"
                    >
                        <div *ngIf="(screenFormGroup.get('A_v1').touched) && (screenFormGroup.get('A_v1').hasError('pattern')
          )">
                            <p>control status: {{ screenFormGroup.get('A_v1').errors | json }}</p>
                        </div>
                </div>
                <!--
            <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
    -->
            </mat-form-field>
            <button
                mat-raised-button
                color="primary"
                magic="Button4"
                class="Button4Props"
            >
                Button4
                </button>
                <div class="Subform3Props">
                    <m-subform
                        magic="Subform3"
                        class="Subform3Props"
                    >
                        </m-subform>
                </div>
                </div>
                </form>