/*this is a component css*/

.AProps {
    background-repeat: repeat;
}

.Label2Props {
    overflow: hidden;
}

.A_v1Props {}

.Button4Props {}

.Subform3Props {
    border: lightskyblue solid 1px;
}