/*this is a component css*/

.WEBListBox1Props {
    background-repeat: repeat;
}

.Label1Props {
    overflow: hidden;
}

.Label2Props {
    overflow: hidden;
}

.ListBoxProps {}

.ComboBoxProps {}

.radioProps {}