<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="WEBListBox1"
        class="WEBListBox1Props"
    >
        <label
            magic="Label1"
            class="Label1Props"
        >
            {{mgGetText('Label1')}}
            </label>
            <label
                magic="Label2"
                class="Label2Props mgColor3"
            >
                {{mgGetText('Label2')}}
                </label>
                <div>
                    <mat-selection-list
                        multiple
                        (selectionChange)="mgOnListBoxSelectionChanged($event,'ListBox')"
                        formControlName="ListBox"
                        magic="ListBox"
                        class="ListBoxProps"
                    >
                        <mat-list-option
                            *ngFor="let o of mgGetItemListValues('ListBox');"
                            [value]="o.index"
                        >
                            {{o.realString}}
                            </mat-list-option>
                            </mat-selection-list>
                </div>
                <div>
                    <mat-form-field class="ComboBoxProps">
                        <mat-select
                            (selectionChange)="mgOnSelectionChanged($event,'ComboBox')"
                            [value]="mgGetSelectedValue('ComboBox')"
                            magic="ComboBox"
                            formControlName="ComboBox"
                        >
                            <mat-option
                                *ngFor="let o of mgGetItemListValues('ComboBox');"
                                [value]="o.index"
                            >
                                {{o.realString}}
                                </mat-option>
                                </mat-select>
                    </mat-form-field>
                </div>
                <div
                    magic="radio"
                    class="radioProps"
                    (change)="mgOnRadioSelectionChanged($event,'radio')"
                >
                    <div *ngFor="let o of mgGetItemListValues('radio');">
                        <label>
           <input
                type="radio"
                magic="radio"


                formControlName="radio"

                [value] = "o.index"
                
           />
           {{o.realString}}
        </label>
                    </div>
                    </div>
                    </div>
                    </form>