<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="GroupWithinGroup"
        class="GroupWithinGroupProps"
    >
        <div
            magic="Group1"
            [title]="mgGetTitle('Group1')"
            class="Group1Props mgColor4"
            style="display: flex; flex-direction: column"
        >
            <div
                magic="Group2"
                [title]="mgGetTitle('Group2')"
                class="Group2Props mgColor5"
                style="display: flex; flex-direction: column"
            >
                <div
                    magic="Group3"
                    [title]="mgGetTitle('Group3')"
                    class="Group3Props mgColor6"
                    style="display: flex; flex-direction: column"
                >
                    <div
                        magic="Group4"
                        [title]="mgGetTitle('Group4')"
                        class="Group4Props mgColor7"
                        style="display: flex; flex-direction: column"
                    >
                        <div
                            magic="Group5"
                            [title]="mgGetTitle('Group5')"
                            class="Group5Props mgColor8"
                            style="display: flex; flex-direction: column"
                        >
                            <div
                                magic="Group6"
                                [title]="mgGetTitle('Group6')"
                                class="Group6Props mgColor9"
                                style="display: flex; flex-direction: column"
                            >
                                <div
                                    magic="Group7"
                                    [title]="mgGetTitle('Group7')"
                                    class="Group7Props"
                                    style="display: flex; flex-direction: column"
                                >
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    </form>