/*this is a component css*/

.GroupWithinGroupProps {
    background-repeat: repeat;
}

.Group1Props {
    border: lightskyblue solid 1px;
}

.Group2Props {
    border: lightskyblue solid 1px;
}

.Group3Props {
    border: lightskyblue solid 1px;
}

.Group4Props {
    border: lightskyblue solid 1px;
}

.Group5Props {
    border: lightskyblue solid 1px;
}

.Group6Props {
    border: lightskyblue solid 1px;
}

.Group7Props {
    border: lightskyblue solid 1px;
}