<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="SubA1"
        class="SubA1Props"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label2"
                class="Label2Props"
            >
                subA1_v1:
                </label>
                <div>
                    <input
                        type="text"
                        formControlName="subA1_v1"
                        magic="subA1_v1"
                        class="subA1_v1Props"
                        pattern="^.{0,10}$"
                    />
                    <div *ngIf="(screenFormGroup.get('subA1_v1').touched) && (
                        screenFormGroup.get('subA1_v1').hasError('pattern')
                        
                        )">
                        <p>control status: {{ screenFormGroup.get('subA1_v1').errors | json }}</p>
                    </div>
                </div>
        </div>
        </div>
        </form>