<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="Root"
        class="RootProps"
    >
        <label
            magic="label1"
            class="label1Props"
        >
            {{mgGetText('label1')}}
            </label>
            <div>
                <input
                    type="text"
                    formControlName="root_v1"
                    magic="root_v1"
                    class="root_v1Props"
                    pattern="^.{0,5}$"
                />
                <div *ngIf="(screenFormGroup.get('root_v1').touched) && (
                        screenFormGroup.get('root_v1').hasError('pattern')
                        
                        )">
                    <p>control status: {{ screenFormGroup.get('root_v1').errors | json }}</p>
                </div>
            </div>
            <button
                magic="Button4"
                class="Button4Props"
            >
                {{mgGetValue('Button4')}}
                </button>
                <button
                    magic="Button5"
                    class="Button5Props"
                >
                    {{mgGetValue('Button5')}}
                    </button>
                    <button
                        magic="Button7"
                        class="Button7Props"
                    >
                        {{mgGetValue('Button7')}}
                        </button>
                        <div class="Subform3Props">
                            <router-outlet
                                magic="Subform3"
                                class="Subform3Props"
                                name="Subform3"
                            >
                                </router-outlet>
                        </div>
                        <div class="RouterOutlet1Props">
                            <router-outlet
                                magic="RouterOutlet1"
                                class="RouterOutlet1Props"
                            >
                                </router-outlet>
                        </div>
                        </div>
                        </form>