<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="web1"
        class="web1Props"
    >
        <label
            magic="Label11534365"
            class="Label11534365Props"
        >
            a:
            </label>
            <div>
                <input
                    type="text"
                    formControlName="a"
                    magic="a"
                    class="aProps"
                    pattern="^.{0,10}$"
                />
                <div *ngIf="(screenFormGroup.get('a').touched) && (screenFormGroup.get('a').hasError('pattern')
                    )">
                    <p>control status: {{ screenFormGroup.get('a').errors | json }}</p>
                </div>
            </div>
            <label
                magic="Label11534366"
                class="Label11534366Props"
            >
                b:
                </label>
                <div>
                    <input
                        type="text"
                        formControlName="b"
                        magic="b"
                        class="bProps"
                        pattern="^.{0,10}$"
                    />
                    <div *ngIf="(screenFormGroup.get('b').touched) && (screenFormGroup.get('b').hasError('pattern')
                    )">
                        <p>control status: {{ screenFormGroup.get('b').errors | json }}</p>
                    </div>
                </div>
                </div>
                </form>