/*this is a component css*/

.web1Props {
    background-repeat: repeat;
}

.Label11534365Props {
    overflow: hidden;
}

.aProps {}

.Label11534366Props {
    overflow: hidden;
}

.bProps {}

.b_0001Props {}