/*this is a component css*/

.webProps {
    position: absolute;
    height: 100vh;
    width: 100vh;
}

.Label11534361Props {
    position: absolute;
    top: 13px;
    left: 6px;
    height: 15px;
    width: 11px;
}

.aProps {
    position: absolute;
    top: 13px;
    left: 23px;
    height: 20px;
    width: 76px;
}

.Label11534362Props {
    position: absolute;
    top: 46px;
    left: 6px;
    height: 15px;
    width: 11px;
}

.bProps {
    position: absolute;
    top: 46px;
    left: 23px;
    height: 20px;
    width: 76px;
}