<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        magic="web"
        class="webProps"
    >
        <label
            magic="Label11534361"
            class="Label11534361Props"
        >
            {{mgGetText('Label11534361')}}
            </label>
            <mat-form-field>
                <input
                    matInput
                    magic="a"
                    class="aProps"
                    formControlName="a"
                >
                    <!--
            <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
    -->
            </mat-form-field>
            <label
                magic="Label11534362"
                class="Label11534362Props"
            >
                {{mgGetText('Label11534362')}}
                </label>
                <mat-form-field>
                    <input
                        matInput
                        magic="b"
                        class="bProps"
                        formControlName="b"
                    >
                        <!--
            <button mat-button *ngIf="value" mdSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
    -->
                </mat-form-field>
                </div>
                </form>